@{
    ViewBag.Title = TestingSystem.Resources.Resource.TITLE_Error;
}

<div class="jumbotron">
    <h1>@TestingSystem.Resources.Resource.TITLE_Error</h1>
    <p class="lead">@ViewBag.Message</p>
</div>

