
@{
    ViewBag.Title = "Ошибка";
}

<div class="jumbotron">
    <h1 class="display-3">Ошибка</h1>
    <p class="lead">@ViewBag.Message</p>
    <hr class="my-4">
    <p class="lead">
       @Html.ActionLink("Вернуться к списку заказов", "Index", null, htmlAttributes: new
       {
           @class = "btn btn-primary btn-lg",
           @role = "button"
       })
    </p>
</div>










